
DCOM_MAIN_OBJECT_TYPE=mysqli
DCOM_MAIN_DATABASE_TYPE=mysql

DCOM_MAIN_DATABASE_HOST=localhost
DCOM_MAIN_DATABASE_USERNAME=username
DCOM_MAIN_DATABASE_PASSWORD=password
DCOM_MAIN_DATABASE_NAME=testdb



DCOM_SECONDARY_OBJECT_TYPE=pdo
DCOM_SECONDARY_DATABASE_TYPE=mysql

DCOM_SECONDARY_DATABASE_HOST=localhost
DCOM_SECONDARY_DATABASE_USERNAME=username
DCOM_SECONDARY_DATABASE_PASSWORD=password
DCOM_SECONDARY_DATABASE_NAME=testdb2